/* CSS declarations go here */

body {
  background-color: #191919;
  font-family: Helvetica, Arial Black, sans;
}
#intro {
  color: white;
  text-align: center;
  vertical-align: middle;
}
#hball-container {
  width: inherit;
  margin: 0 auto;
  text-align: center;
}
#ball {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: #8fa4cd;
  color: white;
  font-size: 28px;
  line-height: 0;
  text-align: center;
}